default_language_version:
  python: python3.12
files: \.py$|tests/.*\.py$
repos:
# general hooks to verify or beautify code
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: [--maxkb=5000]
  - id: trailing-whitespace
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: detect-private-key
  - id: mixed-line-ending
  - id: pretty-format-json
    args: [--autofix]


# autoformat code with black formatter
- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
  - id: black
    files: first_breaks|tests
    args: [-l 120]


# beautify and sort imports
- repo: https://github.com/pycqa/isort
  rev: 6.1.0
  hooks:
  - id: isort
    files: first_breaks|tests
    args: ["--profile", "black"]


# check code style
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    files: first_breaks|tests
    exclude: __init__.py


# static type checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    files: first_breaks|tests
    additional_dependencies: [types-requests==2.25.9, pydantic==2.0.3]
