name: Linters


on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main


jobs:
  pre_commit:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.0"
    - name: Install dependencies
      run: |
        pip install pre-commit
    - name: Pre-commit tests
      run: |
        pre-commit run -a
