name: Tests


on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main


jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install package
      run: |
        make docker_build
    - name: Tests
      run: |
        make docker_tests