name: Tomls


on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main


jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12.0"
    - name: Checks
      run: |
        python checks.py